.layout--layout-paragraphs-two-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin: 0 30px;
}

@media screen and (min-width: 1200px) {
  .layout--layout-paragraphs-two-column {
    grid-template-columns: 1fr 1fr;
    margin: 0 100px;
  }
}

.layout--layout-paragraphs-two-column > * {
  min-width: 0;
}

.layout--layout-paragraphs-two-column.sul-two-column--33-67 {
  grid-template-columns: 1fr 2fr;
}

.layout--layout-paragraphs-two-column.sul-two-column--67-33 {
  grid-template-columns: 2fr 1fr;
}

