.layout--layout-paragraphs-two-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 90px;
  margin: 0 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .layout--layout-paragraphs-two-column {
    margin: 0 50px;
  }
}

@media screen and (min-width: 992px) {
  .layout--layout-paragraphs-two-column {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  .layout--layout-paragraphs-two-column {
    margin: 0 80px;
  }

  .flex-lg-9-of-12 .layout--layout-paragraphs-two-column {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .layout--layout-paragraphs-two-column {
    margin: 0 100px;
  }

  .flex-lg-9-of-12 .layout--layout-paragraphs-two-column {
    margin: 0;
  }
}

.layout--layout-paragraphs-two-column > * {
  min-width: 0;
}

.layout-paragraphs-two-column--33-67 {
  grid-template-columns: 1fr 2fr;
}

.layout-paragraphs-two-column--67-33 {
  grid-template-columns: 2fr 1fr;
}

