.layout--layout-paragraphs-three-column {
  display: grid;
  grid-gap: 30px;
  margin: 0 30px;
}

@media screen and (min-width: 1200px) {
  .layout--layout-paragraphs-three-column {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 100px;
  }
}

.layout--layout-paragraphs-three-column > * {
  min-width: 0;
}
