// Import Decanter Library:
@import 'decanter/core/src/scss/decanter-no-markup';

.layout--layout-paragraphs-one-column {
  .layout__region {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
