
.ck.ck-balloon-panel {
  z-index: 1300 !important;
}

.lp-builder {
  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .js-lpb-region {
    min-height: 80px;
    margin: 20px 0;

    .lpb-btn--add {
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #000000;
      }
    }
  }
}

.lpb-layout {
  padding: 40px 0;
}

.js-lpb-region {
  outline: 1px dotted rgba(0, 0, 255, 0.5);
}

.lpb-component-list__item {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.lpb-component-list__item {
  img {
    max-height: 50px;
    display: block;
    margin: 0 auto;
  }
}

.choose-layout-field legend,
.lpb-component-list__search {
  display: none;
}

.lpb-component-list__group--content {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.lpb-component-list__item a {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  img {
    width: 75px;
    max-width: 75px;
    margin: 0;
  }
}

.node-form {
  .layout-node-form,
  > .layout-form {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;

    .layout-region {
      width: 100%;
    }
  }
}

.layout-node-form > div {
  min-width: initial;
  width: 100%;
  float: none;
}


.layout-node-form .layout-region--node-main .layout-region__content,
.layout-node-form .layout-region--node-footer .layout-region__content {
  max-width: 100%;
  width: 100%;
}

.ds-entity--paragraph .su-media .su-media__caption {
  float: none;
  max-width: 100%;
}

.js-lpb-component {
  min-height: 50px;
}
