
#edit-su-page-components {

  // Buttons
  a {
    &[href] {
      color: #006cb8;
    }

    &.su-button[href] {
      display: inline-block;
      padding: 13px 26px;
      background-color: #b1040e;
      color: #ffffff;
    }

    &.su-button--big[href] {
      display: inline-block;
      padding: 16px 36px;
      background-color: #b1040e;
      color: #ffffff;
    }

    &.su-button--secondary[href] {
      display: inline-block;
      border: 2px solid #b1040e;
      padding: 13px 26px;
      color: #b1040e;
    }

    &.su-link--action[href] {
      &::after {
          content: '>';
      }
    }
  }

  // Banner
  .su-card {
    .su-card__contents {
      padding: 3.8rem;
    }
  }
}

