// Import Decanter Library:
@import 'decanter/core/src/scss/decanter-no-markup';

.layout-background {
  @include modular-spacing("margin-bottom", 5);

  &.background-color {
    @include modular-spacing("padding", 3 null 3 null);

    &.top-padding-none {
      padding-top: 0;
    }

    &.top-padding-more {
      @include modular-spacing("padding", 5 null null null);
    }

    &.bottom-margin-none {
      margin-bottom: 0;
    }

    &.bottom-padding-none {
      padding-bottom: 0;
    }
  }

  &.top-padding-none {
    padding-top: 0;
  }

  &.top-padding-more {
    @include modular-spacing("padding", 5 null null null);
  }

  &.bottom-margin-none {
    margin-bottom: 0;
  }

  &.bottom-padding-none {
    padding-bottom: 0;
  }

  &.bg-f4f4f4 {
    background: $su-color-foggy-light;
  }

  &.bg-ebeae5 {
    background: #ebeae4;
  }

  &.bg-dcecef {
    background: #dcecef;
  }

  &.bg-dcefec {
    background: #dcefec;
  }

  &.bg-f2e8f1 {
    background: #f2e8f1;
  }

  &.bg-f7ecde {
    background: #f7ecde;
  }
}

.jumpstart-ui--two-column {
  .layout-background {
    &.background-color {
      @include modular-spacing("padding", null 3 null 3);
    }
  }
}

