.layout.bg-f4f4f4 {
  background: #f4f4f4
}
.layout.bg-dad7cb {
  background: #dad7cb
}
.layout.bg-c5e0e5 {
  background: #c5e0e5
}
.layout.bg-d2eae6 {
  background: #d2eae6
}
.layout.bg-f0e5ef {
  background: #f0e5ef
}
.layout.bg-f7ecde {
  background: #f7ecde
}
